.candidateCardLink {
    text-decoration: none;
    color: #000;
}


.candidateCard {
    /* border: 1px solid rgba(0, 0, 0, 1); */
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(5px);
    padding: 1em;
}

.firstDiv {
    /* border: 1px dashed red; */
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.firstDiv img{
    border-radius: 50%;
    /* border: 1px solid rgba(0, 0, 0, 0.7); */
}

.firstDiv div{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.secondDiv {
    /* border: 1px dashed green; */
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.btn {
    background-color: transparent;
}


.selected{
    color: #1E7601;
}