.hireNav {
    list-style: none;
    display: flex;
    /* border: 2px solid rgb(55, 0, 255); */

}

.hireNav li a:global(.active){
    background-color: #2F2F2F;
    color: #BDC4A7;
}

.hireNav li a{
    text-decoration: none;
    background-color: #BDC4A7;
    color: #2F2F2F;
    display: block;
    padding: 5px 15px;
}

