.hire {
    width: 100;
    min-height: 100vh;
    background-color: #F3F9D2;
    padding: 2em 0;
    /* border: 5px dashed red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}