.container {
    width: 100%;
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(1, 350px);
    grid-auto-rows: 350px;
    gap: 1.5em;
}